<input type="text" ng-model="openSS.input" ng-change="openSS.hintChg()" ng-keydown="openSS.onArrowDown($event)">
<div ng-if="openSS.input[0]==':' && openSS.input.split(' ').length<=1 && !openSS.cmdHint.hasOwnProperty(openSS.action)">
  <div ng-repeat="cmd in openSS.actionFiltered = (openSS.cmds | filter:openSS.action)" >
    <div class="openSS-hint" ng-click="openSS.setAction(cmd)" id="{{$index}}">
        {{cmd}}
        <!--<span class="openSS-cmt" ng-if="openSS.cmdHint.hasOwnProperty(openSS.action) && openSS.input.split(' ').length<=1" ng-repeat="arg in openSS.cmdHint[openSS.action]">-->
          <!--{{arg}}-->
        <!--</span>-->
      </div>
  </div>
</div>

<div ng-if="openSS.cmdHint.hasOwnProperty(openSS.action) && openSS.input.split(' ').length<=1">
      <div ng-repeat="arg in openSS.cmdHint[openSS.action]">
        <div class="openSS-hint openSS-args">
          {{openSS.action}} {{arg}}
        </div>
      </div>
</div>


<div ng-if="openSS.cmdHint.hasOwnProperty(openSS.action)" ng-show="openSS.show" ng-init="openSS.show=true">
      <div ng-repeat="agy in openSS.argFiltered = (openSS.agencies | filter:openSS.curInput)">
        <div class="openSS-hint openSS-args" ng-click="openSS.setArgs(openSS.action,agy.name)" id="{{$index}}">
          {{openSS.action}} {{agy.name}}
        </div>
      </div>
</div>

{{openSS.actionID}}
{{openSS.argID}}
