.openss {
	input.form-control {
		border-radius: 0;
	}

	.input-group-btn > button.btn {
		border-radius: 0;
	}
}

.hint-box {
	position: absolute;
	left: 16px;
  right: 107px;
}

.hint-box > div:last-child {
	border-radius: 0 0 4px 4px;
}

.btn-default {
	background: $blue;

	&:hover {
		background: darken($blue, 7);
	}
}

.openSS-hint {
  background-color: #FFF;
  text-align: left;
  padding: 5px 20px;
  border-bottom: 1px solid #BBB;

  &:hover {
  	background: $blue;
  	cursor: pointer;
  }
}

.active {
  background-color: $blue;
}

.openSS-cmt {
  color: red;
}

.btn-default {
  border-color: $blue;

  &:hover {
		border-color: $blue;
  }
}

.egg {
	position: absolute;
	z-index: 80000;
	top: -80px;
	bottom: 0;
	left: 0;
	width: 300px;
	height: 350px;
	display: none;
	-webkit-animation: move 3s infinite linear;

	.head {
		width: 180px;
		position: absolute;
		left: 0;
		z-index: 2;
		transform-origin: center bottom;
		-webkit-animation: spin 1s infinite linear;
	}

	.body {
		width: 80px;
		position: absolute;
		bottom: 5px;
		left: 40px;
		transform-origin: center top;
		-webkit-animation: spin 1s infinite linear;
	}
}

@-webkit-keyframes spin {
    0%   { transform: rotate(-10deg) }
    50% { transform: rotate(10deg) }
    100%   { transform: rotate(-10deg) }
}

@-webkit-keyframes move {
    0%   { transform: translate3d(0px, 0px, 0px); }
    50% { transform: translate3d(100px, 0px, 0px); }
    100%   { transform: translate3d(0px, 0px, 0px); }
}



