.openss {
	input.form-control {
		border-radius: 0;
	}

	.input-group-btn > button.btn {
		border-radius: 0;
	}
}

.hint-box {
	position: absolute;
	left: 16px;
  right: 107px;
}

.hint-box > div:last-child {
	border-radius: 0 0 4px 4px;
}

.btn-default {
	background: $blue;

	&:hover {
		background: darken($blue, 7);
	}
}

.openSS-hint {
  background-color: #FFF;
  text-align: left;
  padding: 5px 20px;
  border-bottom: 1px solid #BBB;
}

.active {
  background-color: $blue;
}

.openSS-cmt {
  color: red;
}

.btn-default {
  border-color: $blue;

  &:hover {
		border-color: $blue;
  }
}