<div class="input-group input-group-lg openss">
  <input type="text" class="form-control" ng-model="openSS.input" ng-change="openSS.hintChg()" ng-keydown="openSS.onArrowDown($event)" placeholder="{{ 'SEARCH.hint' | translate }}">
  <span class="input-group-btn" style="vertical-align: top">
    <button class="btn btn-default" type="button" translate="SEARCH.button" id="openSS-btn">Search</button>
  </span>
</div>

 <div class="hint-block" ng-if="openSS.input[0]==':' && openSS.input.split(' ').length<=1 && !openSS.cmdHint.hasOwnProperty(openSS.action)">
    <div ng-repeat="cmd in openSS.actionFiltered = (openSS.cmds | filter:openSS.action)" >
      <div class="openSS-hint" ng-click="openSS.setAction(cmd)" id="{{$index}}">
        {{cmd}}
      </div>
    </div>
  </div>

  <div ng-if="openSS.cmdHint.hasOwnProperty(openSS.action) && openSS.input.split(' ').length<=1">
        <div ng-repeat="arg in openSS.cmdHint[openSS.action]">
          <div class="openSS-hint openSS-args">
            {{openSS.action}} {{arg}}
          </div>
        </div>
  </div>


  <div ng-if="openSS.cmdHint.hasOwnProperty(openSS.action)" ng-show="openSS.show" ng-init="openSS.show=true">
    <div ng-repeat="agy in openSS.argFiltered = (openSS.agencies | filter:openSS.curInput)">
      <div class="openSS-hint openSS-args" ng-click="openSS.setArgs(openSS.action,agy.name)" id="{{$index}}">
        {{openSS.action}} {{agy.name}}
      </div>
    </div>
  </div>
</div>
