<div class="status">
	
	<h3 translate="STATUS.date"></h3>
	<small>
		<span class="glyphicon glyphicon-map-marker" translate="STATUS.loc"></span>
	</small>
	<div class="row" style="margin-top: 20px">
		<div class="col-xs-4"><img src="assets/images/weather.png" width="50px" /></div>
		<div class="col-xs-8 detail-status">
			<p translate="STATUS.w1"></p>
			<p translate="STATUS.w2"></p>
		</div>
	</div>
	<div class="row traffic">
		<div class="col-xs-4"><img src="assets/images/traffic.png" width="50px" /></div>
		<div class="col-xs-8">
			<ul class="detail-status">
				<li translate="STATUS.r1"></li>
				<li translate="STATUS.r2"></li>
				<li translate="STATUS.r3"></li>
				<li translate="STATUS.r4"></li>
			</ul>
		</div>
	</div>
</div>