.status {
	color: white;
	text-align: center;
}

.status h3 {
	margin-top: 0px;
}

.traffic {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #FFF;
}

.detail-status {
	text-align: left;
}