<div class="status">
	
	<h3>今天 中華民國 104 年 11 月 28 日</h3>
	<small>
		<span class="glyphicon glyphicon-map-marker"></span> 新竹市北區
	</small>
	<div class="row">
		<div class="col-xs-4"><img src="assets/images/weather.png" width="50px" /></div>
		<div class="col-xs-8 detail-status">
			<p>今天天氣晴朗, 目前氣溫18度</p>
			<p>有霧, 易過敏者出門建議攜帶口罩</p>
		</div>
	</div>
	<div class="row traffic">
		<div class="col-xs-4"><img src="assets/images/traffic.png" width="50px" /></div>
		<div class="col-xs-8">
			<ul class="detail-status">
				<li>中山路(中正路至西大路)</li>
				<li>東大路三段(天府路至延平路)</li>
				<li>金竹路(鐵道路二段110巷至武陵路)</li>
				<li>光華街(經國路至湳雅街)</li>
			</ul>
		</div>
	</div>
</div>